.item {
 width:400px;
display:flex;
height:250px;
padding:10px;
border-radius:8px;
justify-content:space-between;
border:2px dashed rgba(63, 78, 101, 0.3); 
}

.image {
 height:100%;
display:flex;
flex-direction:column;
justify-content:space-between; 
}

.img {
 height:50%;
width:auto; 
}

.content {
 display:flex;
align-items:flex-end;
flex-direction:column; 
}

.content label {
 gap:5px;
display:flex;
font-size:10px; 
}

.info {
 gap:10px;
display:flex;
flex-direction:column;
justify-content:center; 
}

.title {
 color:#111111;
font-size:16px;
font-weight:700; 
}

.description {
 color:#3f4e65;
font-size:12px;
font-weight:300;
line-height:150%; 
}

.actions {
 display:flex;
height:fit-content;
justify-content:center; 
}

.wrap {
 display:flex;
padding:0 44px;
align-items:center;
border-left:1px dashed rgba(63, 78, 101, 0.3); 
}

.wrap:last-child {
 padding-right:0; 
}

.care {
 gap:2px;
display:flex;
flex-wrap:wrap;
align-items:flex-start; 
}

.care-item {
 gap:2px;
color:#000;
display:flex;
font-size:10px;
cursor:pointer;
align-items:center; 
}

.care-item span {
 width:10px;
height:10px;
display:block;
border-radius:50%;
transition:all 0.3s;
border:2px solid orange; 
}

.care-item:hover span {
 transform:scale(2); 
}

.selected {
 background-color:blue; 
}
