.care {
 gap:15px;
display:flex;
padding-bottom:20px;
flex-direction:column;
border-bottom:1px dashed rgba(63, 78, 101, 0.3); 
}

.heading {
 color:#111111;
font-size:16px;
font-weight:500;
line-height:150%;
text-transform:uppercase; 
}

.list {
 gap:10px;
display:flex;
color:#3f4e65;
font-size:14px;
font-weight:400;
line-height:150%;
flex-direction:column; 
}

.list li {
 cursor:pointer; 
}

.selected {
 border-bottom:1px dashed orange; 
}
