.care {
  display: flex;
  gap: 11px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #3f4e65;
}

.care li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;

  cursor: pointer;
}

.selected {
  background: linear-gradient(
    90deg,
    rgba(255, 198, 80, 0.3) 0%,
    rgba(254, 202, 110, 0.3) 97.25%
  ) !important;
}

@media screen and (max-width: 481px) {
  .care {
    display: none;
  }
}
