.chkboxes {
 gap:5px;
display:flex;
color:#3f4e65;
font-size:14px;
line-height:150%;
flex-direction:column; 
}

.chkboxes label {
 gap:10px;
display:flex; 
}

.show-btn {
 color:#3f4e65;
font-size:12px;
cursor:pointer;
font-weight:500;
line-height:150%; 
}

.btn {
 margin-left:5px;
transition:transform 0.5s; 
}

.opened {
 transform:rotate(-180deg); 
}
