.filter {
  width: 238px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.filter h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #111111;
}
.header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #111111;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rest {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgb(63, 78, 101, 0.3);
}
.rest button {
  all: unset;
  font-size: 12px;
  line-height: 150%;
  position: relative;

  color: #3f4e65;
  cursor: pointer;
}

.rest button::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/public/drop-img.png");
  background-position: center;
  background-size: 8px;
  background-repeat: no-repeat;
  position: absolute;
  right: -16px;
  bottom: 2px;
}

.accordeon {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;

  color: #3f4e65;
}
