.filter {
 gap:10px;
width:238px;
display:flex;
flex-direction:column;
justify-content:center; 
}

.filter h4 {
 color:#111111;
font-size:16px;
font-weight:500;
line-height:150%; 
}

.header {
 color:#111111;
font-size:16px;
font-weight:500;
line-height:150%;
text-transform:uppercase; 
}

.params {
 gap:15px;
display:flex;
flex-direction:column; 
}

.rest {
 padding-bottom:20px;
border-bottom:1px dashed rgb(63, 78, 101, 0.3); 
}

.rest button {
 all:unset;
color:#3f4e65;
font-size:12px;
cursor:pointer;
line-height:150%;
position:relative; 
}

.rest button::after {
 content:"";
width:16px;
bottom:2px;
height:16px;
right:-16px;
display:block;
position:absolute;
background-size:8px;
background-position:center;
background-repeat:no-repeat;
background-image:url("/public/drop-img.png"); 
}

.accordeon {
 color:#3f4e65;
font-size:12px;
font-weight:500;
line-height:150%; 
}
