.name {
 color:#3f4e65;
font-size:14px;
font-weight:300;
line-height:150%;
font-style:normal;
font-family:"Inter"; 
}

.value {
 color:#111111;
font-size:14px;
font-weight:500;
line-height:150%;
font-style:normal;
font-family:"Inter"; 
}
