.heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;

  color: #111111;
}

form {
  display: flex;
  flex-direction: column;
}
.care {
  display: flex;
  flex-wrap: wrap;
}
.wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
}