.heading {
 color:#111111;
font-size:40px;
font-weight:500;
line-height:120%;
text-transform:uppercase; 
}

form {
 display:flex;
flex-direction:column; 
}

.care {
 display:flex;
flex-wrap:wrap; 
}

.wrap {
 display:flex;
row-gap:20px;
flex-wrap:wrap;
justify-content:space-evenly; 
}
