.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.top h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;

  color: #111111;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media screen and (max-width: 481px) {
  .top h2 {
    font-size: 20px;
  }
}
.bottom {
  display: flex;
  gap: 100px;
}
@media screen and (max-width: 481px) {
  .bottom {
    flex-wrap: wrap;
  }
}
