.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ffc85e;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  cursor: pointer;
  width: 153px;
  height: 45px;
  border-radius: 80px;
  text-transform: uppercase;
}

.large {
  width: 192px;
  height: 59px;
  border-radius: 79px;
  text-transform: capitalize;
}

.round {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.round-large {
  width: 59px;
  height: 59px;
  border-radius: 50%;
}
