.crumbs {
 display:flex;
color:#3f4e65;
font-size:14px;
font-weight:300; 
}

.crumbs li {
 padding:0 10px;
border-right:1px dashed rgba(63, 78, 101, 0.3); 
}

.crumbs li:last-child {
 opacity:0.5;
cursor:default;
border-right:none;
pointer-events:none; 
}
