* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button,
ul,
li {
  all: unset;
}
a {
  all: unset;
  cursor: pointer;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
