form {
 gap:10px;
display:flex;
width:fit-content;
height:fit-content; 
}

.dropdown {
 color:#111111;
font-size:16px;
font-weight:500;
line-height:150%;
margin-right:5px; 
}

.label {
 display:flex;
cursor:pointer;
width:fit-content;
position:relative;
align-items:center; 
}

.select {
 all:unset;
color:#3f4e65;
font-size:16px;
font-weight:400;
line-height:150%;
text-align:center;
position:relative;
width:fit-content;
padding-right:14px; 
}

.arrow {
 right:0;
width:16px;
bottom:2px;
z-index:-1;
height:16px;
display:block;
position:absolute;
background-size:8px;
background-position:center;
background-repeat:no-repeat;
background-image:url("/public/drop-img.png"); 
}
