.item {
 display:flex;
height:290px;
padding:50px 0;
border-top:1px dashed rgba(63, 78, 101, 0.3);
border-bottom:1px dashed rgba(63, 78, 101, 0.3); 
}


.image {
 width:300px;
display:flex;
justify-content:center; 
}

.content {
 width:100%;
display:flex;
align-items:center;
justify-content:space-between; 
}


.image img {
  height: 100%;
}
.info {
 gap:10px;
display:flex;
max-width:440px;
flex-direction:column;
justify-content:center; 
}

.title {
 color:#111111;
font-size:30px;
font-weight:700;
line-height:36px; 
}


.description {
 color:#3f4e65;
font-size:12px;
font-weight:300;
line-height:150%; 
}

.actions {
 display:flex;
height:fit-content;
justify-content:center; 
}

.wrap {
  display: flex;
  align-items: center;
  padding: 0 44px;
  border-left: 1px dashed rgba(63, 78, 101, 0.3);
}
.wrap:last-child {
  padding-right: 0;
}

@media screen and (max-width: 481px) {
  .item {
    flex-wrap: wrap;
    height: auto;
  }
  .content {
    flex-wrap: wrap;
  }
  .title {
    font-size: 20px;
  }
  .wrap span {
    padding: 0 13px;
    font-weight: 600 !important;
    font-size: 14px !important;
  }
}
