.price {
 gap:10px;
display:flex; 
}

.price span:first-child {
 font-size:14px;
font-weight:300;
line-height:150%;
color:#3f4e65!important; 
}

.price span:last-child {
 color:#111111;
font-size:14px;
font-weight:500;
line-height:150%; 
}

.range {
 gap:10px;
width:100%;
display:flex;
margin-bottom:30px;
justify-content:center; 
}

.range input {
 all:unset;
width:40%;
padding:4px;
color:#3f4e65;
font-size:12px;
font-weight:300;
line-height:15px;
text-align:center;
border-radius:1000px;
background:linear-gradient(
    90deg,
    rgba(255, 198, 80, 0.3) 0%,
    rgba(254, 202, 110, 0.3) 97.25%
  ); 
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
 margin:0;
-webkit-appearance:none; 
}
