.header {
 display:flex;
cursor:pointer;
width:fit-content;
position:relative;
align-items:center;
margin-bottom:15px; 
}

.btn {
 margin-left:5px;
transition:transform 0.5s; 
}

.opened {
 transform:rotate(-180deg); 
}

.body {
 color:#3f4e65;
font-size:12px;
font-weight:300;
line-height:150%; 
}
