.button {
 gap:5px;
all:unset;
color:#fff;
width:153px;
height:45px;
display:flex;
font-size:10px;
cursor:pointer;
font-weight:700;
line-height:12px;
align-items:center;
border-radius:80px;
letter-spacing:0.15em;
justify-content:center;
background-color:#ffc85e;
text-transform:uppercase;
transition:transform 0.2s; 
}

.button:hover {
 transform:scale(1.05); 
}

.large {
 width:192px;
height:59px;
font-size:14px;
font-weight:700;
border-radius:79px;
text-transform:none; 
}

.round {
 width:39px;
height:39px;
border-radius:50%; 
}

.round-large {
 width:59px;
height:59px;
border-radius:50%; 
}
